.gitignore
/node_modules
/storage/*.key
/data/*.dat
/data/hg19/*.gff3
/data/hg19/*.gff
/data/hg38/*.gff
/data/php-rdkafka
/data/ignore
/data/region.idx
/data/region38.idx
/data/acmg_sf3.bed
/data/gcexpress_report.tsv
/data/MonthlyCurationReport.csv
/data/Leuko*
/data/leuko.csv
/data/newleuko.tsv
/vendor
/.idea/*
.env
.env.backup
.KENV
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.phpintel/index
/.phpintel/*
.phpintel/index
.phpintel/*
.editorconfig
**/*\(copy\)
**/*\(copy\).php
**/*(another copy)
**/OLD
**/*.erb
