/node_modules
/public/hot
/public/js/app.js
/public/js/genetable.js
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.phpintel/index
/.phpintel/*
.phpintel/index
.phpintel/*
.editorconfig
**/*\(copy\)
**/*(another copy)
**/OLD
**/*.erb
