section.section-heading {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 2em;
}
.section-heading-groups {
  background: rgb(22,55,96);
  background: -moz-linear-gradient(left, rgb(22,55,96) 0%, rgb(30,81,131) 50%, rgb(15,173,176) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(22,55,96)), color-stop(50%,rgb(30,81,131)), color-stop(100%,rgb(15,173,176)));
  background: -webkit-linear-gradient(left, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  background: -o-linear-gradient(left, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  background: -ms-linear-gradient(left, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  background: linear-gradient(to right, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#163760', endColorstr='#0fadb0',GradientType=1 );
}

.section-content-heading-groups {
  //background: #0085CB;
  background: rgb(242, 247, 252);
  border-bottom: 1px solid #ddd
  /* background: rgba(15,175,178,0.149) */
  /* background: rgba(30,81,131,0.149); */
}

.stat-wrapper {
  border: 2px solid #fff;
  border-radius: 1rem;
  background: rgba(28,158,228,0.10);
}


.section-hero-gradient-standard {
  background: rgb(22,55,96);
  background: -moz-linear-gradient(left, rgb(22,55,96) 0%, rgb(30,81,131) 50%, rgb(15,173,176) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(22,55,96)), color-stop(50%,rgb(30,81,131)), color-stop(100%,rgb(15,173,176)));
  background: -webkit-linear-gradient(left, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  background: -o-linear-gradient(left, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  background: -ms-linear-gradient(left, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  background: linear-gradient(to right, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#163760', endColorstr='#0fadb0',GradientType=1 );
}



.section-hero-bg-light {
  background-color: #f1f1f1;
}
.section-hero-bg-white {
  background-color: #fff;
}

.section-heading-groups .content a {
  text-decoration: underline;
  color: #fff;
}


.bg-primary {
  background-color: #166894 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #0062cc !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #545b62 !important;
}

.bg-success {
  background-color: #28a745 !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #1e7e34 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #117a8b !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

a.bg-warning:hover, a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #d39e00 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #bd2130 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #1d2124 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}