.progress.progress-no-bg {
  background-color: #fff !important;
  box-shadow: none;
}
.progress-no-bg .progress-bar {
  border-radius: 1rem;
}

.chart-stroke-definitive {
  stroke: #276749 !important;
}
.chart-stroke-strong {
  stroke: #38a169 !important;
}
.chart-stroke-moderate {
  stroke: #68d391 !important;
}
.chart-stroke-limited {
  stroke: #fc8181 !important;
}
.chart-stroke-disputed-evidence {
  stroke: #e53e3e !important;
}
.chart-stroke-refuted-evidence {
  stroke: #9b2c2c !important;
}
.chart-stroke-animal-model-only {
  stroke: #f6ad55 !important;
}
.chart-stroke-no-known-disease-relationship {
  stroke: #718096 !important;
}
.chart-stroke-benign {
  stroke: #1a9641 !important;
}
.chart-stroke-likely-benign {
  stroke: #a6d96a !important;
}
.chart-stroke-uncertain-significance {
  stroke: #5bc0de !important;
}
.chart-stroke-likely-pathogenic {
  stroke: #f0ad4e !important;
}
.chart-stroke-pathogenic {
  stroke: #d9534f !important;
}

.chart-stroke-actionability-peds {
  stroke: #ff7300 !important;
}

.chart-stroke-actionability-adult {
  stroke: #ffd000 !important;
}

.chart-stroke-pharmacogenomics-cpik {
  stroke: #ea49a4 !important;
}

.chart-stroke-pharmacogenomics-pharmgkb {
  stroke: #b71173 !important;
}

.chart-bg-pharmacogenomics-level-a, .chart-bg-pharmacogenomics-level-1a {
  background-color: #009933 !important;
}
.chart-bg-pharmacogenomics-level-ab {
  background-color: #009999 !important;
}
.chart-bg-pharmacogenomics-level-b, .chart-bg-pharmacogenomics-level-1b  {
  background-color: #003399 !important;
}
.chart-bg-pharmacogenomics-level-bc {
  background-color: #330099 !important;
}
.chart-bg-pharmacogenomics-level-c, .chart-bg-pharmacogenomics-level-2a  {
  background-color: #990099 !important;
}
.chart-bg-pharmacogenomics-level-cd {
  background-color: #990033 !important;
}
.chart-bg-pharmacogenomics-level-d, .chart-bg-pharmacogenomics-level-2b {
  background-color: #cc6600 !important;
}

.chart-bg-definitive {
  background-color: #276749 !important;
}
.chart-bg-strong {
  background-color: #38a169 !important;
}
.chart-bg-moderate {
  background-color: #68d391 !important;
}
.chart-bg-limited {
  background-color: #fc8181 !important;
}
.chart-bg-disputed-evidence {
  background-color: #e53e3e !important;
}
.chart-bg-refuted-evidence {
  background-color: #9b2c2c !important;
}
.chart-bg-animal-model-only {
  background-color: #f6ad55 !important;
}
.chart-bg-no-known-disease-relationship {
  background-color: #718096 !important;
}
.chart-bg-benign {
  background-color: #1a9641 !important;
}
.chart-bg-likely-benign {
  background-color: #a6d96a !important;
}
.chart-bg-uncertain-significance {
  background-color: #5bc0de !important;
}
.chart-bg-likely-pathogenic {
  background-color: #f0ad4e !important;
}
.chart-bg-pathogenic {
  background-color: #d9534f !important;
}

.progress-bar-left-radius-0 {
  border-radius: 0 1rem 1rem 0 !important;
}


section.section-heading {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 2em;
}
.section-heading-groups {
  background: rgb(22,55,96);
  background: -moz-linear-gradient(left, rgb(22,55,96) 0%, rgb(30,81,131) 50%, rgb(15,173,176) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(22,55,96)), color-stop(50%,rgb(30,81,131)), color-stop(100%,rgb(15,173,176)));
  background: -webkit-linear-gradient(left, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  background: -o-linear-gradient(left, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  background: -ms-linear-gradient(left, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  background: linear-gradient(to right, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#163760', endColorstr='#0fadb0',GradientType=1 );
}

.section-content-heading-groups {
  //background: #0085CB;
  background: rgb(242, 247, 252);
  border-bottom: 1px solid #ddd
  /* background: rgba(15,175,178,0.149) */
  /* background: rgba(30,81,131,0.149); */
}

.stat-wrapper {
  border: 2px solid #fff;
  border-radius: 1rem;
  background: rgba(28,158,228,0.10);
}


.section-hero-gradient-standard {
  background: rgb(22,55,96);
  background: -moz-linear-gradient(left, rgb(22,55,96) 0%, rgb(30,81,131) 50%, rgb(15,173,176) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(22,55,96)), color-stop(50%,rgb(30,81,131)), color-stop(100%,rgb(15,173,176)));
  background: -webkit-linear-gradient(left, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  background: -o-linear-gradient(left, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  background: -ms-linear-gradient(left, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  background: linear-gradient(to right, rgb(22,55,96) 0%,rgb(30,81,131) 50%,rgb(15,173,176) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#163760', endColorstr='#0fadb0',GradientType=1 );
}



.section-hero-bg-light {
  background-color: #f1f1f1;
}
.section-hero-bg-white {
  background-color: #fff;
}

.section-heading-groups .content a {
  text-decoration: underline;
  color: #fff;
}


.bg-primary {
  background-color: #166894 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #0062cc !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #545b62 !important;
}

.bg-success {
  background-color: #28a745 !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #1e7e34 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #117a8b !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

a.bg-warning:hover, a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #d39e00 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #bd2130 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #1d2124 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}