.border-1 {
	border: 1px solid #ccc !important;
}

.border-left-1 {
	border-left: 1px solid #ccc;
}
.border-left-2 {
	border-left: 2px solid #ccc;
}
.border-left-3 {
	border-left: 4px solid #ccc;
}
.border-left-4 {
	border-left: 8px solid #ccc;
}
.border-right-1 {
	border-right: 1px solid #ccc;
}
.border-right-2 {
	border-right: 2px solid #ccc;
}
.border-right-3 {
	border-right: 4px solid #ccc;
}
.border-right-4 {
	border-right: 8px solid #ccc;
}
.border-bottom-1 {
	border-bottom: 1px solid #ccc;
}
.border-bottom-2 {
	border-bottom: 2px solid #ccc;
}
.border-bottom-3 {
	border-bottom: 4px solid #ccc;
}
.border-bottom-4 {
	border-bottom: 8px solid #ccc;
}
.border-top-1 {
	border-top: 1px solid #ccc;
}
.border-top-2 {
	border-top: 2px solid #ccc;
}
.border-top-3 {
	border-top: 4px solid #ccc;
}
.border-top-4 {
	border-top: 8px solid #ccc;
}


.border-radius-none {
	border-radius: 0 !important; 
}
.border-radius-sm {
	border-radius: .5rem !important; 
}
.border-radius-md {
	border-radius: 1rem !important; 
}
.border-radius {
	border-radius: 2rem !important; 
}



.border {
  border: 1px solid #dee2e6 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #166894 !important;
}

.border-secondary {
  border-color: #6c757d !important;
}

.border-success {
  border-color: #28a745 !important;
}

.border-info {
  border-color: #17a2b8 !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-muted {
  border-color: #ddd !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-white {
  border-color: #fff !important;
}

.rounded-sm {
  border-radius: 0.2rem !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-lg {
  border-radius: 0.3rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
