#clingen_top a {
	display: inline-block;
	position: fixed;
  right: 6.5rem;
  bottom: 0;
  z-index: 10000;
  padding: .6rem .2rem;
  background-color: #009465;
  border-radius:  20px 20px 0 0;
  text-align: center;
  color: #fff !important;
	font-size: 9px;
	text-shadow: 0px 1px 1px #666;
	box-shadow: 0px 8px 10px #333;
	border:4px solid #009465;
	border-bottom: none;
}

#clingen_top a:hover {
  background-color: #00ce8d;
  color: #fff !important;
}

#clingen_top .clingen_top_icon {
	font-size: 25px;
	text-shadow: 0px 1px 1px #666 !important;
}

#clingen_contact a {
	display: inline-block;
	position: fixed;
  right: .5rem;
  bottom: 0;
  z-index: 10000;
  padding: .6rem .2rem;
  background-color: #009465;
  border-radius:  20px 20px 0 0;
  text-align: center;
  color: #fff !important;
	font-size: 9px;
	text-shadow: 0px 1px 1px #666;
	box-shadow: 0px 8px 10px #333;
	border:4px solid #009465;
	border-bottom: none;
}

#clingen_contact a:hover {
  background-color: #00ce8d;
  color: #fff !important;
}

#clingen_contact .clingen_contact_icon {
	font-size: 26px;
	text-shadow: 0px 1px 1px #666 !important;
}