.dark-table .bootstrap-table table.table>tbody>tr>td {
  padding: 1.05rem .5rem !important;
  // font-size: .99rem;
  font-weight: 300;
}
.fixed-table-container .global_table_cell {
   //font-weight: 500;
   //font-size: 14px;
   //padding: 21px 12px 19px !important;
}

.dark-table .bootstrap-table .input-btn-region-prefix .btn {
  border-radius:  1rem 0 0 1rem !important;
}

.info_panel {
  //margin: 1em;
  padding: 1em 2em 1em 2em;
  border: 1px dotted #333;
}

.text-stats {
  font-size: .8rem !important;
  color: #222;
  line-height: normal;
  margin-bottom: .25rem;
  margin-top:  .25rem;
}

.line-tight {
  line-height: normal;
}

.prewrap {
  white-space: pre-wrap;
}

.format-pli-high {
  color: red;
}
.format-pli-low {
  color: green;
}
.format-hi-high {
  color: red;
}
.format-hi-low {
  color: green;
}
.dosage-box.region, td.region span, .dosage-box.gene, td.gene span, div.global_table_cell.region, div.global_table_cell.gene
{
  padding: 0px 3px;
  font-size: 11px;
  border-radius: 10rem;
  color: #fff;
}
.dosage-box.psuedogene, td.psuedogene span, div.global_table_cell.psuedogene
{
  padding: 0px 3px;
  font-size: 11px;
  border-radius: 10rem;
  color: #000;
}
.dosage-box.carryover, .global_table_cell.carryover {
  padding: 0px 3px;
  font-size: 11px;
  border-radius: 10rem;
  color: #000;
}
.dark-table .bootstrap-table table.table > tbody > tr > td.global_table_cell.region,
.dark-table .bootstrap-table table.table > tbody > tr > td.global_table_cell.psuedogene,
.dark-table .bootstrap-table table.table > tbody > tr > td.global_table_cell.gene {
  padding-right: 0rem !important;
  padding-left: .2rem !important;
}
.dosage-box.region, td.region span, div.global_table_cell.region {
   background-color: #D7BDE2;
   background-color: #663468;
 }
.dosage-box.gene, td.gene span, div.global_table_cell.gene {
   background-color: #A9CCE3;
   background-color: #417279;
 }
.dosage-box.psuedogene, td.psuedogene span, div.global_table_cell.psuedogene {

   background-color: #ccff99;
 }
 .global_table_cell.carryover {
  background-color: #A9CCE3;
}

.dl-horizontal dt {
    width: 210px !important;
}

.dl-horizontal dd {
    margin-left: 230px !important;
}


.btn-unreviewable {
    color: #fff;
    background-color: #ff9900;
    border-color: #ff9900;
}

// .dosage-box {
//   display: inline-block;
//   //float: left;
//   height: 15px;
//   width: 15px;
//   //margin-bottom: 15px;
//   border: 1px solid black;
//   clear: both;
// }
.detail-table-shade {
  background-color: #FEF9E7;
}


// Turn off the ugly swal animation across the board
.swal-overlay--show-modal, .swal-modal {
  animation: none !important;
}

#input_feedback {
  position: absolute;
  left: -1000;
  top: -1000;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.affilate-list-bottom {
  bottom: 0; position: absolute; left: 25%;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.35;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}



.pull-left, .float-left, .align-left {
  float: left;
}
.pull-right, .float-right, .align_right {
  float: right;
}

.affiliate_first_false a {
  display: none;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.position {
    position: relative;
    width: 5.5em;
	//border-bottom: 1px solid;
    display: block;
	height: 2em;
}

.position .chr {
    font-size: 130%;
}


.position .chr, .position .end, .position .start {
    display: inline-block;
    float: left;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


*, :after, :before {
    box-sizing: border-box;
}

.position .start {
    top: 0;
}


.position .end, .position .start {
    position: absolute;
    text-align: right;
    font-size: 75%;
    width: 5.5em;
    right: .125em;
    line-height: 1em;
}


.position .chr, .position .end, .position .start {
    display: inline-block;
    float: left;
}


*, :after, :before {
    box-sizing: border-box;
}


.position .end {
    bottom: .25em;
}


.position .end, .position .start {
    position: absolute;
    text-align: right;
    font-size: 75%;
    width: 5.5em;
    right: .125em;
	line-height: 1em;
}


.position .chr, .position .end, .position .start {
    display: inline-block;
    float: left;
}

.swal-error {
    //background-color: #FFF5EE;
    background-color: #FFFAFA;
}


.swal-success {
    background-color: #F0F8FF;
}
