/* CSS Document */

.display-none {
    display: none;
}

table.border-none td {
  border-top:none !important;
}

table.dataTable tbody td {
    word-break: break-word;
    vertical-align: top;
}

td.valign-top {
  vertical-align: top;
}

td.valign-bottom {
    vertical-align: bottom !important;
}

.table-spacing table td {
  padding: 10px !important;
  margin: 10px !important;
}

.table-spacing table tr {
  margin-bottom: 10px !important;
}

.table-align-top table td {
  vertical-align: top;
}

.fixed-table-toolbar {
  display: none;
}
.fixed-table-body {
  border-top: 1px solid #ddd;
}
.dark-table .fixed-table-body thead {
  background-color: #eeeeee;
}

.dark-detail thead tr th.detail {
  background-color: #6c757d !important;
}

.fixed-table-pagination .pagination-detail, .fixed-table-pagination .pagination {
  padding-left: .7rem !important;
  padding-right: .2rem !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-size: 98%;
}

.curated-genes-table {
  thead tr:first-child{
    border-top: none;
    background-color: #fff;
  }
  .fixed-table-body {
    border-top: none;
  }
}
