.twitter-typeahead {
  //background-color: #fff;
}

// .search_bar span.a-link, .search_bar .dropdown-menu a {
//     display: block;
//     padding: 3px 20px;
//     clear: both;
//     font-weight: 400;
//     line-height: 1.42857143;
//     color: #333333;
//     white-space: nowrap;
//     cursor: pointer;
//     text-decoration: none;
// }
// .search_bar span.a-link:hover, .search_bar .dropdown-menu a:hover {
//   color: #262626;
//     text-decoration: none;
//     background-color: #f5f5f5;
// }

/* Typeahead start*/
.tt-scrollable-dropdown-menu .tt-menu {
  max-height: 300px;
  overflow-y: auto;
}
.twitter-typeahead {
  // width: 100%
}
.tt-inside .btn-typeahead, .tt-inside .tt-input {
  border: 1px solid #ccc !important;
}
#notes_show .tt-hint {
  padding-left: 12px !important;
}
.tt-ui-row:hover .tt-ui-alias, .tt-ui-row:hover .tt-ui-curie {
  color: #fff;
}
.tt-ui-row .tt-ui-curie {
  color: rgb(128, 128, 128);
}
.tt-ui-row .tt-ui-alias {
  color: rgb(128, 128, 128);
  font-style: italic;
}
// .typeahead, .tt-query, .tt-hint {
//   width: 100%;
//   color: #999;
//   padding: 6px 8px;
// /*  font-size: 24px;*/
// /*  border: 2px solid #fff;*/
// /*  border-right: 1px solid #0097cf;*/
//   -webkit-border-radius: 8px 0px 0px 8px;
//   -moz-border-radius: 8px 0px 0px 8px;
//   border-radius: 8px 0px 0px 8px;
//   outline: none;
// }
.carousel-inner-typeahead {
  overflow: visible;
}

.twitter-typeahead {
  width: 99%;
}
.twitter-typeahead .tt-hint {
  width: 100%;
}
.twitter-typeahead .tt-input {
  width: 100%;
}
.twitter-typeahead .form-control {
  height: auto;
  padding: 5px 8px 2px 8px;
  // font-size: 20px;
  font-size: auto;
}
.typeahead {
  background-color: #fff;
}
.typeahead:focus {
  border: 2px solid #0097cf;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
//.tt-hint {
//  color: #999
//}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.tt-inside .btn-typeahead, .tt-inside .tt-input {
  border: 1px solid #ccc !important;
}

.tt-menu {
  //width: 100%;
  width: 600px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  color: #000;
  line-height: 24px;
  //color: #999;
  //text-shadow: none;
  //text-align: left;
}
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion p {
  margin: 0;
}
