<tr>
    <td><%= info_popover("actionability", "help", "" ,"logo-inline") %></td>
    <td>
		<% assertion.each_with_index do |b, index| %>
		<%#=debug(b) %>
			<strong><%= b.adult %> - View report for scoring details</strong><br />
        <% end %>
    </td>
    <td class=" text-center">
		<% assertion.each_with_index do |b, index| %>
			<%= mdy_date b.report_date %><br />
		<% end %>
    </td>
    <td class=" text-center">
		<% assertion.each_with_index do |b, index| %>
			<%= link_to "View report", b.source, {target: 'file', class: 'btn btn-xs btn-success'} %><br />
		<% end %>
    </td>
</tr>
