// Place all the styles related to the gene_validity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.geneValidityScoresWrapper .points-given-bg {
	background-color: #dbeaff;
}
.geneValidityScoresWrapper .CalculatedClassificationsActive, .geneValidityScoresWrapper .AssignedPoints {
	background-color: #dbeaff !important;
	
}

.geneValidityScoresWrapper .CalculatedClassificationsActive-2 {
	background-color: #aaccff !important;
	
}

.geneValidityScoresWrapper .CalculatedClassificationsActive-3 {
	background-color: #7fb2ff !important;
	
}



.geneValidityScoresWrapper .GeneticEvidencePmidData {
	display: inline;
}
.geneValidityScoresWrapper .WrapperPmidResults {
	text-align: left;
}
.geneValidityScoresWrapper .badge.superscript {
	font-size: 9px !important;
	font-weight: normal !important;
    min-width: 8px;
    padding: 1px;
    color: #666;
    text-align: center;
    background-color: #fff;
    bottom: 4px;
    position: relative;
}
.geneValidityScoresWrapper .points-tally-bg {
	background-color: #c6ddff;
}
.geneValidityScoresWrapper .points-tally-bg input {
	padding-left: 0;
    padding-right: 0;
    text-align: center;
    background: none;
    border: none;
    box-shadow: none;
}
.geneValidityScoresWrapper .text-tight {
	line-height: normal;
}
.geneValidityScoresWrapper .table-heading-tight {
	padding-top: 1px !important;
	padding-bottom: 1px !important;
	line-height: normal !important;
}

.geneValidityScoresWrapper .table-heading.points-given-bg {
	background-color: #c6ddff;
}
.geneValidityScoresWrapper .table-heading.points-tally-bg {
	background-color: #c6ddff;
}
.geneValidityScoresWrapper .table-total.points-given-bg {
	background-color: #c6ddff;
}
.geneValidityScoresWrapper .table-total.points-tally-bg {
	background-color: #c6ddff;
}


.geneValidityScoresWrapper .table > thead > tr > th, .geneValidityScoresWrapper .table > tbody > tr > th, .geneValidityScoresWrapper .table > tfoot > tr > th, .geneValidityScoresWrapper .table > thead > tr > td, .geneValidityScoresWrapper .table > tbody > tr > td, .geneValidityScoresWrapper .table > tfoot > tr > td {
	vertical-align: middle;
}

.geneValidityScoresWrapper .table-heading {
	line-height: normal;
	font-weight: bold;
	font-size: 125%;
}

.geneValidityScoresWrapper .total-notes {
	margin-bottom: 0px;
}
.geneValidityScoresWrapper .input-width-numbers .form-group {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.geneValidityScoresWrapper .input-width-pmid table {
	width: 100%;
}
.geneValidityScoresWrapper .input-width-pmid input.pmid {
	width: 99%;
	text-align: center;
	padding-left: 4px !important;
	margin-right: 1%;
	padding-right: 4px !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	display: inline-block !important;
	height: 28px;
}
.geneValidityScoresWrapper .input-width-pmid .form-group {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.geneValidityScoresWrapper .table-total {
	line-height: normal;
	font-weight: bold;
	font-size: 125%;
}
.geneValidityScoresWrapper .table-total, .table-heading-bg.table-total-border {
	border-left: 2px solid #000 !important
}
.geneValidityScoresWrapper .table-heading-bg {
	background-color: #e3e3e3;
	border: none !important;
}

.geneValidityScoresWrapper .table-title-vertical {
	font-size: 125% !important;
}
.geneValidityScoresWrapper .table-title-text {
	display: inline-block;
	overflow: hidden;
	width: 1.5em;
}
.geneValidityScoresWrapper .table-title-text-inner {
	display: inline-block;
	white-space: nowrap;
	line-height: 1.5;
	transform: translate(0,100%) rotate(-90deg);
	transform-origin: 0 0;
}

/* This element stretches the parent to be square
   by using the mechanics of vertical margins  */
   
.geneValidityScoresWrapper .table-title-text-inner:after {
	content: "";
	display: block;
	margin: -1.5em 0 100%;
}

.geneValidityScoresWrapper .table-border-thin {
	border-bottom:2px solid #999 !important;
}
.geneValidityScoresWrapper .table-border-thick {
	border:12px solid #000 !important;
}
.geneValidityScoresWrapper .table-border-normal {
	border:6px solid #000 !important;
}

.geneValidityScoresWrapper .table-heading-line-thick {
	border-bottom:12px solid #000 !important;
}

.geneValidityScoresWrapper .table-heading-line-normal {
	border-bottom: 6px solid #000 !important;
}

.geneValidityScoresWrapper .table-heading-line-thin {
	border-bottom: 3px solid #666 !important;
}

tr.LIMITED td.LIMITED, tr.MODERATE td.MODERATE, tr.STRONG td.STRONG, tr.DEFINITIVE td.DEFINITIVE {
	background-color: #dbeaff !important;
}

.geneValidityScoresWrapper .table-title {
	font-weight: bold;
	font-size: 115%;
}
.geneValidityScoresWrapper .table {
	text-align: center;
	font-size: 11px;
}
.geneValidityScoresWrapper .table-text {
	font-weight: normal;
}



.geneValidityScoresWrapper .WrapperPmid .form-group {
	padding-bottom: 5px;
}
