
#input_feedback {
  position: absolute;
  left: -1000;
  top: -1000;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.affilate-list-bottom {
  bottom: 0; position: absolute; left: 25%;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.35;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}



.pull-left, .float-left, .align-left {
  float: left;
}
.pull-right, .float-right, .align_right {
  float: right;
}

.affiliate_first_false a {
  display: none;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
