.user_display_list img {
	width:50px;
}

.user_display_sm {
	width:25px;
}

.user_display_md {
	width:50px;
}

.member-section{
	border:none;
	background-color: #fff;
	text-align: center;
	border-radius: 6px;
	margin-right: 1rem;
	margin-bottom: 2rem;
	padding: 0px;
}
.member-section-interior {
	color: #111;
}

/*background: linear-gradient(131deg, rgba(22,55,96,1) 0%, rgba(19,110,133,1) 43%, rgba(70,146,149,1) 63%, rgba(127,166,167,1) 84%, rgba(210,210,210,1) 100%);*/

.profile-header{
	/* #163760 #136e85 */
	background: rgb(22,55,96);
	background: linear-gradient(131deg, rgba(22,55,96,1) 0%, rgba(19,110,133,1) 100%);
	height:4rem;
	width:100%;
	display: block;
	border-radius: 6px;
  background: white;
}

.user_group_chairs .profile-header{
	background: linear-gradient(131deg, rgba(22,55,96,1) 0%, rgba(19,110,133,1) 100%);
  background: white;
}

.user_group_leadership .profile-header{
	background: linear-gradient(131deg, rgba(22,55,96,.9) 0%, rgba(19,110,133,.8) 100%);
  background: white;
}

.user_group_coordinators .profile-header{
	background: linear-gradient(131deg, rgba(22,55,96,.8) 0%, rgba(19,110,133,.7) 100%);
  background: white;
}

.user_group_members .profile-header{
	background: linear-gradient(131deg, rgba(22,55,96,.7) 0%, rgba(19,110,133,.6) 100%);
  background: white;
}

.user_group_past_members .profile-header{
	background: linear-gradient(131deg, rgba(22,55,96,.6) 0%, rgba(19,110,133,.5) 100%);
  background: white;
}

.user-detail{
	margin:-3rem 0rem 0rem 0rem;
}
.user-detail img{
	height:6rem;
	width:6rem;
}
.user-detail strong{
	display: block;
	font-size: .8rem;
	margin:.5rem .5rem .5rem .5rem;
}
/*.user-social-detail{
	padding:15px 0px;
	background-color: #17a2b8;
}
.user-social-detail a i{
	color:#fff;
	font-size:23px;
	padding: 0px 5px;
}*/