.input-, .input-group-xl > .form-control, .input-group-xl > .input-group-addon, .input-group-xl > .input-group-btn > .btn {
    height: 44px;
    padding: 6px 16px;
    font-size: 24px;
    line-height: 1.3333333;
    border-radius: 6px;
}

#section_search_wrapper {
	border: 2px solid #fff;
	border-radius: 30px;
	padding: 0rem;
	background-color: rgba(255,255,255,.8);
}
#section_search_wrapper span, #section_search_wrapper div, #section_search_wrapper input, #section_search_wrapper button  {
	border-radius: none;
	font-weight: 125% !important;
}
#section_search_wrapper .input-group-addon {
	background:none !important;
	border:none;
	box-shadow: none;
	padding: 0 !important;
	margin: 0 !important; 
	padding-left: 1rem !important;
}
#section_search_wrapper input, #section_search_wrapper button {
	background:none !important;
	border:none;
	box-shadow: none;
}

#section_search_wrapper button.btn-search-submit {
	background-color: rgba(255,255,255,.5) !important;
}

#section_search_wrapper button.dropdown-toggle {
	border-radius: 0px;
	margin-left: -1px;
	border-right: 2px solid #fff;
	color: #17a2b8;
}
#section_search_wrapper button.btn-search-submit {
	border-radius: 0 30px 30px 0 ;
	margin-right: -1px;
	border-left: 2px solid #fff;
	color: #17a2b8;
}