/* CSS Document */

table.border-none td {
  border-top:none !important;
}

.table-spacing table td {
  padding: 10px !important;
  margin: 10px !important;
}

.table-spacing table tr {
  margin-bottom: 10px !important;
}

.table-align-top table td {
  vertical-align: top;
}